Source: flow-python2.7
Section: python
Priority: extra
Maintainer: Mark Burnett <mburnett@genome.wustl.edu>
Build-Depends: debhelper (>= 7), autotools-dev,
  autoconf, lsb-release, sharutils,
  libreadline-dev, libncursesw5-dev (>= 5.3),
  tk8.5-dev, blt-dev (>= 2.4z), libssl-dev,
  zlib1g-dev, libbz2-dev,
  libexpat1-dev,
  locales [!armel !avr32 !hppa !ia64 !mipsel],
  libsqlite3-dev, libffi-dev (>= 3.0.5),
  libgpm2 [linux-any],
  mime-support, netbase, bzip2,
  libdb-dev, libgdbm-dev, gdb, python, help2man,
  xvfb, xauth
Standards-Version: 3.8.3
Homepage: http://python.org

Package: flow-python2.7
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libreadline5, libncursesw5, tk8.5,
 libssl0.9.8, zlib1g, libbz2-1.0, libexpat1, libsqlite3-0, libffi5, libgpm2, libdb4.8,
 libgdbm3, gdb
Description: python binaries for the flow project
 This exists because we need python2.7 to be a lucid package so we can depend
 on it.
